div.card {
    padding: 1rem;
    border-radius: 1%;
    border: 1px solid #c6c5c2;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

    div.card-body {
        text-align: center;
    }
}

button.cross-button {
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #c6c5c2;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background-color: transparent;
    border: none;

    :hover {
        opacity: 1;
        color: #000;
    }
}

span.countdown-sentence {
    font-size: larger;
}

span.countdown-unit {
    margin-right: 4pt;

    span.number {
        font-size: x-large;
        font-weight: 500;
    }
}