#addNewForm {
    div.form-input {
        display: inline-block;
        margin-right: 5pt;
    }

    label {
        margin-right: 2pt;
    }

    input {
        border: 1px solid #c6c5c2;
        padding: 0.5em;
        border-radius: 3px;
    }

    input[type=submit] {
        background-color: #AC8E00;
        border: none;
        color: white;
        padding: 6px 10px;
        cursor: pointer;
        border-radius: 3px;
    }
}

@media (width < 768px) {
    #addNewForm {
        display:flex;
        flex-wrap: wrap;

        div.form-input,input {
            margin: 4px;
        }
    }
}