#addNewForm {
    div.form-input {
        display: inline-block;
        margin-right: 5pt;
    }

    label {
        margin-right: 2pt;
    }

    input {
        border: 1px solid #c6c5c2;
        padding: 6px;
    }

    input[type=submit] {
        background-color: #AC8E00;
        border: none;
        color: white;
        padding: 6px 10px;
        cursor: pointer;
     }
}